<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:fb="http://typo3.org/ns/Fbreuer/Cms/ViewHelpers">
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Viewhelper CMS Test</title>

            <!-- Bootstrap Core CSS -->
            <link href="inc/external/bootstrap/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="inc/external/bootstrap/css/sb-admin.css" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="inc/external/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

            <!-- Internal Settings -->
            <link href="inc/internal/css/main.css" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

        </head>

        <body>

            <div class="login-mask-container">
                <h1>Anmelden</h1>
                <img src="art/avatar_2x.png" class="img-responsive" />
                <div class="login-input-grp">
                    <input type="text" placeholder="Deine E-Mail-Adresse" class="form-control" >
                    <br>
                    <input type="password" placeholder="Dein Passwort" class="form-control" >
                    <a href="?action=switchPage&id=1" class="btn btn-default">Anmelden</a>
                </div>
            </div>


            <!-- jQuery -->
            <script src="inc/external/bootstrap/js/jquery.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="inc/external/bootstrap/js/bootstrap.min.js"></script>
        </body>

    </html>
</div>